.container
  .col-xs-12
    %h3 About this project
    %p
      A worldwide API for station-based carsharing cannot be achieved without a collaborative approach - there are just too many operators. With the help of many contributers, an almost complete list of operators can be included. New cities can be included or defunct services removed. We would like to see as many contributors as users of the API, so please have a look at the
      = link_to 'repository', 'https://github.com/00Bock/RubyCars'
      and contribute by adding more cities, more provides or fix an exiting script.
    %p Also, if you are using this API you should indicate it on your application and website, linking to this project page. Please make a clear and noticeable statement about the source of the information that your project is using. Inform your users about it, let them find this data and possibly contribute.
    %br
    %h4.text-center Imprint
    %p.small.text-center
      Innovation Centre for Mobility and Societal Change (InnoZ) GmbH
      %br/
      Torgauer Str. 12 - 15
      %br/
      10829 Berlin
      %br/
      %br/
      Phone: +49(0)30 23 88 84-0
      %br/
      Fax: +49(0)30 23 88 84-120
      %br/
      Email: dashboard@innoz.de
      %br/
      %br/
      Management: Dr. Jürgen Peters, Prof. Dr. Andreas Knie
      %br/
      Place of jurisdiction: AG Berlin Charlottenburg
    %br
    %h4 Terms of Service
    %p.small RubyCars is a free service.
    %br
    %h4 Disclaimer
    %ul.small
      %li The material on the site is made available with the understanding that you are not engaged in providing professional advice.
      %li Before relying on material on the site users should independently verify the accuracy, completeness and relevance for their purposes and obtain any appropriate professional advice.
      %li The material may include opinions, recommendations or other content from third parties that do not necessarily reflect your views.
      %li Links to other Web sites are included for the user’s convenience and do not constitute an endorsement of the material on those sites, or any associated product or service.
