= render 'map'
= render 'overview_markers'

:javascript
  jQuery('#map').append("<div class='map-overlay centered-map-overlay welcome-text'> \
                          <div> \
                            Discover station-based carsharing by selecting a region on the map or via dropdown... \
                          </div> \
                        </div>");
